{
    "bracketSpacing": true,
    "printWidth": 120,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "react/jsx-max-props-per-line": [
        1,
        {
            "when": "always"
        }
    ]
}